CREATE DATABASE [frog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'frog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DEV\MSSQL\DATA\frog.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'frog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DEV\MSSQL\DATA\frog_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [frog]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [frog] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
